@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Black.woff2") format("woff2"), url("../fonts/Grandstander-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Bold.woff2") format("woff2"), url("../fonts/Grandstander-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-BoldItalic.woff2") format("woff2"), url("../fonts/Grandstander-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-BlackItalic.woff2") format("woff2"), url("../fonts/Grandstander-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-ExtraBold.woff2") format("woff2"), url("../fonts/Grandstander-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Grandstander-ExtraBoldItalic.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Grandstander-ExtraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-ExtraLight.woff2") format("woff2"), url("../fonts/Grandstander-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Italic.woff2") format("woff2"), url("../fonts/Grandstander-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Light.woff2") format("woff2"), url("../fonts/Grandstander-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-LightItalic.woff2") format("woff2"), url("../fonts/Grandstander-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Medium.woff2") format("woff2"), url("../fonts/Grandstander-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-MediumItalic.woff2") format("woff2"), url("../fonts/Grandstander-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Regular.woff2") format("woff2"), url("../fonts/Grandstander-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-SemiBold.woff2") format("woff2"), url("../fonts/Grandstander-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Grandstander-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-ThinItalic.woff2") format("woff2"), url("../fonts/Grandstander-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Grandstander;
	font-display: swap;
	src: url("../fonts/Grandstander-Thin.woff2") format("woff2"), url("../fonts/Grandstander-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
