// Заголовки, загальні БЕМ блоки та інше...
.soundToggler {
    @media (max-width: $mobile) {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 7.5rem;
        margin-top: 12px;
    }
    &__itemOn {
        display: flex;
        button {
            width: 3.125rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3.75rem;
            border: 0.125rem solid #fff;
            transition: .25s;
            svg {
                path {
                    transition: .25s;
                }
                @media (max-width: $mobile) {
                    height: 0.875rem;
                    width: 1.125rem;
                }
            }
            @media (max-width: $mobile) {
                height: 35px;
                width: 35px;
            }
        }
        button:hover {
            background-color: #ffffff;
            transition: .25s;
            svg {
                path {
                    stroke: #000000;
                    transition: .25s;
                }
            }
        }
    }
    &__itemOff {
        display: none;
        button {
            width: 3.125rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3.75rem;
            border: 0.125rem solid #fff;
            transition: .25s;
            svg {
                path {
                    transition: .25s;
                }
                @media (max-width: $mobile) {
                    height: 0.875rem;
                    width: 1.125rem;
                }
            }
            @media (max-width: $mobile) {
                height: 35px;
                width: 35px;
            }
        }
        button:hover {
            background-color: #ffffff;
            transition: .25s;
            svg {
                path {
                    transition: .25s;
                    stroke: #000000;
                }
            }
        }
    }
}

._hide {
    display: none!important;
}
._active {
    display: flex!important;
}