// Заголовки, загальні БЕМ блоки та інше...
.soundToggler {
    &__itemOn {
        display: flex;
    }
    &__itemOff {
        display: none;
    }
}

._hide {
    display: none!important;
}
._active {
    display: flex!important;
}