//====================================================================================================
.header {
	background: transparent;
	width: 100%;
	padding: 1.25rem 0;
	&__container {
		max-width: 90rem;
		padding: 0 8.125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		cursor: pointer;
		z-index: 10;
	}
	&__leaderboard {
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 130%;
		cursor: pointer;
		z-index: 10;
		transition: .25s;
	}
	&__leaderboard:hover {
		button {
			transition: .25s;
			text-decoration: underline;
		}
	}
	&__walletBtn {
		font-weight: 600;
		font-size: 1rem;
		border: 2px solid #fff;
		border-radius: 60px;
		padding: 0.9375rem 0.9375rem 0.8125rem 0.9375rem;
		z-index: 10;
		cursor: pointer;
		transition: .25s;
	}
	&__walletBtn:hover {
		transition: .25s;
		color: #000000;
		background-color: #ffffff;
	}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
