.mainContent {
    &__container {
		padding: 0 15.125rem;
		display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5.25rem 0 0 0;
        width: 120rem;
        margin: 0 auto;
		@media (max-width: $desktop) {
			width: 90rem;
            padding: 0 8.125rem;
		}
    }
    &__gradient {
        display: flex;
        z-index: 5;
    }
    &__phaseOne {
        height: 33.125rem;
        position: relative;
        display: flex;
        flex-direction: column;
        @media (max-width: $desktop) {
		}
        @media (max-width: $mobile) {
		}
    }
    &__phaseTwo {
        display: none;
        height: 33.125rem;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }
    &__title {
        margin: 5.375rem 0 0 0;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 100%;
        max-width: 23.75rem;
    }
    &__descr {
        margin: 2.1875rem 0 0 0;
           max-width: 23.75rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 130%;
    }
    &__startBtn {
        margin: 13.75rem 0 0 0;
        max-width: fit-content;
        overflow: hidden;
        button {
            display: flex;
            align-items: center;
            border: 0.125rem solid #fff;
            border-radius: 3.75rem;
            font-weight: 600;
            font-size: 1.375rem;
            padding: 1.4063rem 2.4375rem 1.3438rem 2.4375rem;
            transition: .25s;
            svg {
                margin-left: 0.625rem;
                transition: .25s;
            }
        }
        button:hover {       
            transition: .25s;
            color: #000000;
            background-color: #ffffff;      
        svg {
            fill: #ffffff;
            circle {
                stroke: #000000;
            }
            path {
                fill: #000000;
            }
        }
    }
    }
    &__sayBtn {
		display: flex;
        align-self: center;
        position: relative;
		button {
            position: absolute;
            right: -115px;
			border: 0.125rem solid #fff;
			border-radius: 3.75rem;
			overflow: hidden;
			font-size: 1.375rem;
			padding: 0.9375rem 4.0625rem;
			display: flex;
			align-items: center;
			text-align: center;
			svg {
				margin: 0 0.3125rem;
			}
		}
		button:hover {
			transition: .25s;
      color: #000000;
      background-color: #ffffff;
			svg {
				fill: #ffffff;
        transition: .25s;
				defs {
					image {
						transition: .25s;
						filter: invert(100%);
					}					
				}
			}
		}
	}
    &__catBox {
        position: absolute;
        justify-content: center;
        top: 0;
        z-index: 5;
        margin-top: 3.4375rem;
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        img {
            width: 13.125rem;
        }
    }
    &__catIdle {
        z-index: 15;
    }
    &__catMeow {
        z-index: 15;
        user-select: none;
        display: none;
    }
    &__catMeow:hover {
        cursor: pointer;
    }
    &__energyBox {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
    }
    &__progressBar {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 1.375rem;
        color: #fff;
        .progressCount {
            margin-left: 7px;
        }
    }
    &__progressValue {
    }
    &__energyBar {
        margin-top: 0.625rem;
        box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.16);
        justify-content: flex-start;
        align-items: center;
        position: relative;
        display: flex;
        border-radius: 1.25rem;
        width: 13.3125rem;
        height: 0.9375rem;
        progress {
            border-radius: 20px;
            width: 100%;
            height: 100%;
          }
          progress::-webkit-progress-bar {
            background-color: rgba(0, 0, 0, 0.16);
            border-radius: 1.25rem;;
            box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          }
          progress::-webkit-progress-value {
            background-color: #7f4dd1;
            border-radius: 1.25rem;;
            box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          }
    }
    &__coinBox {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        padding: 1.125rem 0.875rem 0.6875rem 0.875rem;
        box-shadow: inset -0.25rem -0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.05); 
        border-radius: 1.25rem;
    }
    &__coinImg {
        margin-right: 0.625rem;
    }
    &__coinAmount {  
    }
}
