.mainContent {
    &__container {
		padding: 0 8.125rem;
		display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5.25rem 0 0 0;
        max-width: 120rem;
        padding: 0 8.125rem;
        margin: 0 auto;
		@media (max-width: $fp) {
			max-width: 90rem;
		}
    }
    &__gradient {
        display: flex;
        z-index: 5;
    }
    &__phaseOne {
        height: 38.125rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__phaseTwo {
      display: none;
      height: 38.125rem;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }
    &__sayBtn {
    }
    &__title {
        margin: 9.375rem 0 0 0;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 100%;
           max-width: 23.75rem;
    }
    &__descr {
        margin: 2.1875rem 0 0 0;
           max-width: 23.75rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 130%;
    }
    &__startBtn {
        margin: 13.75rem 0 0 0;
        button {
            display: flex;
            align-items: center;
            border: 2px solid #fff;
            border-radius: 60px;
            font-weight: 600;
            font-size: 1.375rem;
            padding: 1.4063rem 2.4375rem 1.3438rem 2.4375rem;
            transition: .25s;
        }
        svg {
            margin-left: 10px;
            transition: .25s;
            fill: black;
        }
    }
    &__startBtn:hover {
        button {
            transition: .25s;
            color: #000000;
            background-color: #ffffff;
        }
        svg {
            fill: #ffffff;
            transition: .25s;
            circle {
                stroke: #000000;
            }
            path {
                fill: #000000;
            }
        }
    }
    &__catBox {
        position: absolute;
        justify-content: center;
        top: 0;
        margin-top: 4.5625rem;
        display: flex;
        align-self: center;
        img {
            width: 18.125rem;
        }
    }
    &__catIdle {
    }
    &__catMeow {
        display: none;
    }
}