.mainContent {
    &__container {
		padding: 0 15.125rem;
		display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5.25rem 0 0 0;
        width: 120rem;
        margin: 0 auto;
		@media (max-width: $desktop) {
			width: 90rem;
            padding: 0 8.125rem;
		}
        @media (max-width: $mobile) {
			width: 100%;
            padding: 0 1.25rem;
		}
    }
    &__gradient {
        display: flex;
        z-index: 5;
    }
    &__phaseOne {
        height: 33.125rem;
        position: relative;
        display: flex;
        flex-direction: column;
        .mainContent__catBox {
            @media (max-width: $mobile) {
                position: relative;
                margin: 1.875rem 0 0 0;
            }
        }
        @media (max-width: $mobile) {
            height: 100%;
        }
    }
    &__phaseTwo {
        display: none;
        height: 33.125rem;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        .mainContent__catBox {
            @media (max-width: $mobile) {
                position: relative;
                margin: 1.875rem 0 0 0;
                order: 2;
            }
        }
        @media (max-width: $mobile) {
            height: 100%;
        }
    }
    &__title {
        margin: 5.375rem 0 0 0;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 100%;
        max-width: 23.75rem;
        @media (max-width: $mobile) {
			margin: 1.875rem 0 0 0;
            font-size: 1.5rem;
            max-width: 100%;
            text-align: center;
		}
    }
    &__descr {
        margin: 2.1875rem 0 0 0;
           max-width: 23.75rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 130%;
        @media (max-width: $mobile) {
            font-size: 0.875rem;
            max-width: 100%;
            text-align: center;
            margin: 0.9375rem 0 0 0;
		}
    }
    &__startBtn {
        margin: 13.75rem 0 0 0;
        max-width: fit-content;
        button {
            display: flex;
            align-items: center;
            border: 0.125rem solid #fff;
            border-radius: 3.75rem;
            font-weight: 600;
            font-size: 1.375rem;
            padding: 1.4063rem 2.4375rem 1.3438rem 2.4375rem;
            transition: .25s;
            svg {
                margin-left: 0.625rem;
                transition: .25s;
            }
            @media (max-width: $mobile) {
                font-size: 1.125rem;
                padding: 1.25rem 3rem 1.25rem 3rem;
            }
        }
        button:hover {       
            transition: .25s;
            color: #000000;
            background-color: #ffffff;    
            @media (max-width: $mobile) {
                color: #ffffff;
                background-color: transparent;  
            }  
        svg {
            fill: #ffffff;
            @media (max-width: $mobile) {
                stroke: #000000; 
             }  
            circle {
                stroke: #000000;
                @media (max-width: $mobile) {
                    stroke: #ffffff; 
                 }  
            }
            path {
                fill: #000000;
                @media (max-width: $mobile) {
                    fill: #FFFFFF;
                 }  
            }
        }
        }
        @media (max-width: $mobile) {
            margin: 1.875rem 0;
            display: flex;
            align-self: center;
            order: 4;
        }
    }
    &__sayBtn {
		display: flex;
        align-self: center;
        position: relative;
		button {
			border: 0.125rem solid #fff;
			border-radius: 3.75rem;
			overflow: hidden;
			font-size: 1.375rem;
			padding: 0.9375rem 4.0625rem;
			display: flex;
			align-items: center;
			text-align: center;
			svg {
				margin: 0 0.3125rem;
			}
		}
        @media (max-width: $mobile) {
           order: 3;
         }
		button:hover {
			transition: .25s;
            color: #000000;
            background-color: #ffffff;
			svg {
				fill: #ffffff;
                transition: .25s;
				defs {
					image {
						transition: .25s;
						filter: invert(100%);
					}					
				}
			}
		}
	}
    &__catBox {
        position: absolute;
        justify-content: center;
        top: 0;
        z-index: 5;
        margin-top: 3.4375rem;
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        img {
            width: 13.125rem;
            @media (max-width: $mobile) {
                width: 9.6875rem;
            }
        }

    }
    &__catIdle {
        z-index: 15;
    }
    &__catMeow {
        z-index: 15;
        display: none;
    }
    &__energyBox {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        @media (max-width: $mobile) {
            position: relative;
            order: 4;
         }
    }
    &__progressBar {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 1.375rem;
        color: #fff;
        .progressCount {
            margin-left: 7px;
        }
    }
    &__progressValue {
    }
    &__energyBar {
        margin-top: 0.625rem;
        box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.16);
        justify-content: flex-start;
        align-items: center;
        position: relative;
        display: flex;
        border-radius: 1.25rem;
        width: 13.3125rem;
        height: 0.9375rem;
        progress {
            border-radius: 20px;
            width: 100%;
            height: 100%;
          }
          progress::-webkit-progress-bar {
            background-color: rgba(0, 0, 0, 0.16);
            border-radius: 1.25rem;;
            box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          }
          progress::-webkit-progress-value {
            background-color: #7f4dd1;
            border-radius: 1.25rem;;
            box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          }
    }
    &__coinBox {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        top: 1.25rem;
        right: 1.25rem;
        padding: 0.6875rem 0.875rem 0.6875rem 0.875rem;
        box-shadow: inset -0.25rem -0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.05); 
        border-radius: 1.25rem;
          @media (max-width: $mobile) {
           position: relative;
        //    margin: 2.375rem 0 0 0;
           order: 1;
        }
    }
    &__coinImg {
        display: flex;
        align-items: center;
        margin-right: 0.625rem;
        width: 51px;
        height: 52px;
        img {
            width: 100%;
        }
    }
    &__coinAmount {   
        display: flex;
        align-items: center;
        span {
            padding-top: 0.9375rem;
            display: flex;
            text-align: center;    
            font-weight: 600;
            font-size: 3.5rem;
            color: #fff;
        }
    }
    &__backBtn {  
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0rem;
        right: 18.75rem;
        border: 0.125rem solid rgba(255, 255, 255, 0.5);
        border-radius: 3.75rem;
        padding: 1.125rem 1.5625rem 0.9375rem 1.4375rem;
        button {
            font-weight: 600;
            font-size: 1.375rem;
            line-height: 95%;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    &__backBtn:hover {
        cursor: pointer;
        border: 0.125rem solid #fff;
        button {
            color: #fff;
        }
    }
}



